<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/element-plus.css"/>
    <script src="/js/vue3.js"></script>
    <script src="/js/element-plus.js"></script>
    <script src="/js/axios.min.js"></script>

</head>
<body>
<div id="app">
    <el-input v-model="sourceLink" type="textarea" />
    <el-button type="primary" @click="generateShortLink">生成短链</el-button>
</div>
</body>

<script>
    const request = axios.create({})

    Vue.createApp({
        data() {
            return {
                sourceLink: ''
            }
        },
        methods: {
            generateShortLink: async function () {
                axios.post('/user', {
                    firstName: 'Fred',
                    lastName: 'Flintstone'
                })
            }
        }
    }).use(ElementPlus).mount('#app')

</script>

</html>